.accouncement + .main-content{
  margin-top: 275px;
  @media(max-width: @x-small) {
    margin-top: 175px;
  }
}
.accouncement + .interior-content {
  margin-top: 275px;
  @media(max-width: @x-small) {
    margin-top: 175px;
  }
}

.announcement-bar{

    p{
        color: #000000;
        text-align: center;
    }

}