.gform_wrapper {
	margin: 0!important;
	.gfield_required {
		display: none;
	}
	input[type="text"] {
		border-radius: 0;
		height: 3rem;
	}
	div.validation_error {
		color: @dbs-green!important;
		border-top: 2px solid @dbs-green!important;
		border-bottom: 2px solid @dbs-green!important;
	}
}

.google-map {
	padding-top: 1rem;
	iframe {
        width: 100% !important;
    }
}

.contact-info {
	font-size: 120%;
	padding-top: @pad;
	color: @dbs-white;
	a, a:focus {
		color: @dbs-yellow;
		text-decoration: none;
		line-height: 2rem;
	}
}
