#contact-bar {
  background: @dbs-grey-light;
  color: @dbs-white;
  #contact-left {
    display: table-cell;;
    vertical-align: middle;
    p {
      line-height: 80px;
      margin-bottom: 0;
      @media (max-width: @x-small) {
        line-height: 2.5rem;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  #contact-right {
    .newsletter-form {
      display: flex;
      .gform_body {
        display: inline-block;
        ul {
          list-style: none;
          margin: 0;
          padding-left: 0;
          label {
            display: none;
          }
          input[type="email"] {
            padding-left: 10px;
            height: 80px;
            border-radius: 0;
            border: none;
            width: 430px;
            font-size: 1.8rem;
          }
        }
      }
      .gform_footer {
        display: inline-block;
        input[type="submit"] {
      		background: @dbs-yellow;
      		border: none;
      		border-radius: 0;
      		font-family: Oswald;
      		text-transform: uppercase;
          padding: 15px;
          height: 80px;
      	}
      }
    }
  }
}

#foot {
  background: @dbs-grey-dark;
  color: @dbs-white;
  padding-top: 15px;
  .foot-nav {
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
    li {
      display: inline;
      padding-right: 15px;
      a {
      color: @dbs-white;

      &:hover {
        color: #68d243;
      }
      }
    }
  }
  small {
    color: @dbs-white-shade;
  }
}
