/*.gallery-title {
	padding-bottom: @pad/2;
}

.grid {
    column-count: 4;
	.grid-item {
		margin-bottom: 15px;
		width: 100%;
	}
}
html.no-flexbox {
	.grid {
		.grid-item {
			width: 25%;
			float: left;
		}
		@media(max-width: 991px) {
			.grid-item {
				width:30%;
				margin-right:15px;
			}
		}
		@media(max-width: 768px ) {
			.grid-item {
				width: 47%;
			}
		}
		@media(max-width: 480px ) {
			.grid-item {
				width: 100%;
				margin-right:0;
			}
		}
	}
}*/
.grid {
	padding:0;
}
.grid-item {
	width:25%;
	padding:10px;
	@media( max-width: 991px ) {
		width:33.33333%;
	}
	@media( max-width: 768px ) {
		width:50%;
	}
	@media( max-width: 480px ) {
		width: 100%;
		padding: 15 10px;
	}
}
