@font-face {
  font-family: 'Veneer';
  src: 	url(../fonts/veneer-webfont.eot#iefix) format('embedded-opentype'),
  		url(../fonts/veneer-webfont.woff) format('woff'),
  		url(../fonts/veneer-webfont.ttf) format('truetype');
}
@x-large: 1200px;
@large: 992px;
@medium: 768px;
@small: 544px;
@x-small: 480px;
@pad: 2rem;

.trans {
	transition: .8s;
}

body {
	font-size: 16px;
	background-size: cover;
  	background-position: center center;
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-image: url("../img/bg.jpg");

}
h1 {
	color: @dbs-yellow;
	font-size: 4rem;
}

h1, h2 {
	text-transform: uppercase;
	font-family: 'Veneer';
}

h3, h4 {
	font-family: 'Oswald';
}

h2, h3, h4, h5, h6, a, p {
	color: @dbs-white;
}

a:focus {
    outline: none;
}

i, .fa {
	color: @dbs-white;
	&:hover {
		color: @dbs-yellow;
	}
}

ul {
	margin-left: 0!important;
}

a.btn-default, .btn-default {
	background: @dbs-yellow;
	color: @dbs-grey-dark;
	border: none;
	font-family: "Oswald";
	.trans;
	&:hover, &:focus {
		background: @dbs-green;
	}
}

.btn {
	border-radius: 0;
}

button, button.navbar-toggle, button.btn, input.gform_button {
	font-family: "Oswald";
	border-radius: 0;
	box-shadow: none;
	background: @dbs-yellow;
	color: @dbs-grey-dark;
	font-size: 2rem;
	.trans;
	&:hover {
		box-shadow: none;
		background: @dbs-green!important;
	}
}

.current-menu-item a {
  color: @dbs-green!important;
}

.navbar-inverse .navbar-toggle:hover {
	background: @dbs-green;
}

.overlay {
	z-index: -1;
	position: fixed;
	background: #000;
	width: 100%;
	height: 100%;
	opacity: .5;
	top: 0;
	left: 0;
}

html {
	&.no-flexbox {
  		.navigation .nav {
  			.nav-right {
  				display: block!important;
  				height:auto;
  				margin-top: 7rem;
  			}
  			.navbar-header {
	  			display: table;
	  			.nav-logo {
	  				margin-top: 3rem;
	  			}
	  		}
	  		@media(max-width: @x-large) {
	  			height:100px;
	  			.nav-right {
	  				margin-top:4rem;
	  			}
	  			.navbar-header {
	  				.nav-logo {
	  					width: 121px;
	  				}
	  			}
	  		}
	  		@media(max-width: @large ) {
	  			.nav-right {
	  				margin-top:4rem;
	  				float: none;
	  			}
	  			.navbar-header {
	  				.nav-logo {
	  					height:48px;
	  					width:110px;
	  				}
	  			}
	  		}
	  		@media(max-width: @medium) {
	  			.navbar-header {
	  				width:100%;
	  				margin:0;
	  					.nav-logo {
	  						margin: 2rem auto 0;
	  						display: block;
	  					}
	  			}
	  		}
  		}

  	}
}

.carousel-inner > .item {
    -webkit-transition: 0.6s ease-in-out left;
    -moz-transition: 0.6s ease-in-out left;
    -o-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}

.fl-row-fixed-width {
  max-width: 100%;
  .fl-row-content-wrap {
    padding: 0px;
  }
}

.main-content {
  margin-top: 200px;
  @media(max-width: @x-small) {
    margin-top: 100px;
  }
}
.heading {
  h1 {
    font-size: 4rem;
    color: @dbs-yellow;
    margin-bottom: @pad*2;
    text-transform: uppercase;
    font-family: 'Veneer';
  }
}

.interior-content {
  margin-top: 200px;
  margin-bottom: @pad*4;

  .event-details {
    margin-bottom: @pad*2;
    h3 {
      color: @dbs-yellow;
    }
    img {
      width: 100%;
    }
  }
}

.footer__content_container { 
    display: inline-block;
    margin: 10px auto;
    text-align: left;
}

.hours--table { 
    text-align: center;
    max-width: 350px;
    margin: 0 auto 20px;

    td { 
        padding: 2px;
    }

    tr td:first-child { 
        text-align: right;
        font-weight: bold;
    }
    
    tr:nth-child(2n) td { 
        background-color: rgba(255, 255, 255, 0.05);

        &:first-child { 
            border-radius: 5px 0 0 5px;
        }

        &:last-child { 
            border-radius: 0 5px 5px 0;
        }
    }
}