.category-list {
  position: fixed;
  a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: Oswald;
    color: @dbs-white-shade;
    display: block;
  }
}

.menu-items {
  h3 {
    color: @dbs-white-shade;
     text-transform: uppercase;
     margin-top: @pad*2;
  }
  .category-price {
      color: @dbs-green;
      font-size: 80%;
      margin-left: 1rem;
     }
  h4 {
    margin-bottom: 1rem;
  }
  h5 {
    color: @dbs-green;
    display: inline;
  }
  .menu-item{
    margin-bottom: 1rem;
    
    h4 {
      color: @dbs-yellow;
      display: inline;
      margin-right: 1rem;
    }
    h5 {
      color: @dbs-green;
      display: inline;
      margin-right: 1rem;
      font-size: 1.6rem;
    }
    p, span {
      color: @dbs-white;
      margin-bottom: 0;
    }
    .menu-table {
      width: 310px;
    }
    .menu-options-table {
      color: @dbs-white;
      h5 {
        display: block;
      }
    }
  }
}