@media(max-width: @x-large) {
	.navigation {
		ul {
			margin: 0;
		}
	  	.nav {
	  		.navbar-header {
		  		.nav-logo {
		  			height: 50px;
		  		}
	  		}
	    	.nav-right {
	    		li {
	    			padding-left: .9rem;
	    			a {
					font-size: 2rem;
					}
				}
			}
		}
	}
}
@media(max-width: @large) {
	.navigation {
		ul {
			margin: 0;
		}
	  	.nav {
	  		.navbar-header {
		  		.nav-logo {
		  			height: 50px;
		  			width:121px;
		  		}
	  		}
	    	.nav-right {
	    		li {
	    			padding-left: .9rem;
	    			a {
					font-size: 1.63rem;
					}
				}
			}
		}
	}
}

@media(max-width: @medium){

	.navigation {
	  	.nav {
	  		height:90px;
	  		.navbar-header {
		  		.nav-logo {
		  			height: 90px;
		  		}
	  		}
	    	.nav-right {
				background-color: rgba(0, 0, 0, 1);
				height: inherit;
				display: block;
				float: none;
				margin:0;
				padding: 15px;
				li {
					margin-bottom: 10px;
					display: block;
				}
			}
		}
	}

	#contact-bar {
	  padding-bottom: 1rem;
	  text-align: center;
	  #contact-right {
	  	input {
	  		width: 80%;
	  	}
	  	button {
	  		width: 20%;
	  	}
	  }
	}

	.grid {
	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
	}

}

@media(max-width: @x-small) {
	.navigation {
	  	.nav {

	    	.nav-right {
	    		li {
	    			a {
					font-size: 2.5rem;
					}
				}
			}
		}
	}
	.heading {
		h1 {
			font-size: 2.5rem;
		}
	}
}
