.top-social {
  position: absolute;
  right: 0;
  left: 0;
  margin : 0 auto;
  color: @dbs-white;
  z-index: 999;
    p {
      margin: 10px 0 0;
    }
}

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  border-bottom: none;
  .nav {
    height: 160px;
    @media(max-width: 480px) {
      height:90px;
        .navbar-header .nav-logo {
          height: 50px!important;
          width: 121px!important;
        }
    }
    padding-left: 15px;
    .navbar-header {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-logo {
        height: 90px;
        width:217px;
      }
    }
    button {
      width: 100%;
      margin: 0;
      position: relative;
      background: @dbs-yellow;
    }
    .nav-right {
      float: right;
      height: 160px;
      display: flex;
      align-items: center;
      li {
        display: inline;
        text-transform: uppercase;
        padding-left: 1.8rem;
        a {
          text-decoration: none;
          font-family: 'Oswald';
          font-weight: 400;
          font-size: 2.2rem;
          //letter-spacing: .05rem;
          color: @dbs-yellow;
          .trans;
          &:hover {
            color: @dbs-green;
          }
        }
      }
    }
  }
}
