.specials {
	h1, h2 {
		text-transform: uppercase;
		font-family: 'Veneer';
		display: inline-block;
		margin-bottom: 0;
		margin-top: 0;
	}
	h2 {
		color: @dbs-white;
	}
	h3 {
		color: @dbs-white-shade;
		margin-bottom: 2rem;
		margin-top: 0;
	}
}